@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-grey: #d2d5da;
  --light-grey: #6c727f;
  --blue: #93c5fd;

  --dark: #282b30;

  --black: #1b1d1f;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: left;
  padding: 12px 0px;
}

th {
  text-align: left;
  font-size: 12px;
  color: var(--light-grey);
  padding: 16px 0px;
}

thead {
  border-bottom: 1px solid var(--dark);
}

img {
  width: 50px;
  height: 38px;
  border-radius: 4px;
}

.subtitle {
  color: var(--light-grey);
  font-size: 16px;
}

.select {
  margin-top: 0.75rem;
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: white;
}

.select:focus {
  outline: none;
}

.select[data-focus] {
  outline-width: 2px;
  outline-offset: -2px;
  outline-color: rgba(255, 255, 255, 0.25);
}

.icon {
  pointer-events: none;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1rem;
  height: 1rem;
  fill: rgba(255, 255, 255, 0.6);
}

.filter-label {
  font-size: 14px;
  color: var(--light-grey);
  font-weight: 500;
  margin-bottom: 8px;
}

.checkbox {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.checkbox-label {
  font-size: 14px;
  color: var(--light-grey);
  padding: 8px 12px;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
}

.checkbox:focus-visible + .checkbox-label {
  outline: 2px solid var(--blue);
}

.checkbox:checked + .checkbox-label {
  background-color: var(--dark);
  color: var(--blue-grey);
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
